--CREATING TABLES--
use Pharmacy;
GO

IF EXISTS (SELECT * FROM sysobjects WHERE NAME='DRUGS_INFO' AND xtype='U')
BEGIN
	DROP TABLE DRUGS_INFO
END

GO

CREATE TABLE DRUGS_INFO(
	ID INT IDENTITY(1,1) NOT NULL,
	NUMBER INT NOT NULL,
	PRICE DECIMAL (10,2),
	EXPIRY_DATE DATE NOT NULL,
	DRUG_ID INT NOT NULL,
	DEALER_ID INT NOT NULL,
	
	CONSTRAINT PK_DEALER_DRUGS_ID PRIMARY KEY (ID)
)

GO

IF EXISTS (SELECT * FROM sysobjects WHERE NAME='DRUGS' AND xtype='U')
BEGIN
	DROP TABLE DRUGS
END

GO

CREATE TABLE DRUGS(
	ID INT IDENTITY(1,1) NOT NULL,
	NAME  VARCHAR(32) NOT NULL,
	IMAGE VARBINARY(MAX),

	CONSTRAINT PK_DRUGS_ID PRIMARY KEY (ID)
)

GO

IF EXISTS (SELECT * FROM sysobjects WHERE NAME='DEALERS' AND xtype='U')
BEGIN
	DROP TABLE DEALERS
END

GO

CREATE TABLE DEALERS(
	ID INT IDENTITY(1,1) NOT NULL,
	NAME VARCHAR(32) NOT NULL,
	DISTRIBUTOR VARCHAR(32) NOT NULL,
	PHONE_NUMBER VARCHAR(16) NOT NULL,

	CONSTRAINT PK_DEALERS_ID PRIMARY KEY (ID)
)

GO

IF EXISTS (SELECT * FROM sysobjects WHERE NAME='PHARMACIES_ORDERS' AND xtype='U')
BEGIN
	DROP TABLE PHARMACIES_ORDERS
END

GO

CREATE TABLE PHARMACIES_ORDERS(
	ID INT IDENTITY(1,1) NOT NULL,
	DRUG_NAME VARCHAR(32) NOT NULL,
	NUMBER_ORDERS INT NOT NULL,
	PHARMACY_ID INT NOT NULL,

	CONSTRAINT PK_PHARMACIES_ORDERS_ID PRIMARY KEY (ID)
)

IF EXISTS (SELECT * FROM sysobjects WHERE NAME='PHARMACY' AND xtype='U')
BEGIN
	DROP TABLE PHARMACY
END

GO

CREATE TABLE PHARMACY(
	ID INT IDENTITY(1,1) NOT NULL,
	NAME VARCHAR(32) NOT NULL,

	CONSTRAINT PK_PHARMACY_ID PRIMARY KEY (ID)
)

--FOREIGN KEYS--

ALTER TABLE DRUGS_INFO
ADD CONSTRAINT FK_DRUGS_INFO_DRUG_ID FOREIGN KEY (DRUG_ID)
REFERENCES DRUGS(ID)

ALTER TABLE DRUGS_INFO
ADD CONSTRAINT FK_DRUGS_INFO_DEALER_ID FOREIGN KEY (DEALER_ID)
REFERENCES DEALERS(ID)

ALTER TABLE PHARMACIES_ORDERS
ADD CONSTRAINT FK_PHARMACIES_ORDERS_ID FOREIGN KEY (PHARMACY_ID)
REFERENCES PHARMACY(ID)